$mainWidth: 1200px;
$navTextSize: 14px;
$navFontColor: white;
$navItemWidth: 150px;
$secondaryColor: #27c7ab;
$regularFontFamily: "Ralway Regular", sans-serif;
$mediumFontFamily:"Raleway Medium", sans-serif;
$boldFontFamily:  "Raleway Bold", sans-serif;
$heavyFontFamily: "Raleway Heavy", sans-serif;
$buttonFontColor: white;