body{
    background-color: aliceblue;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 50px;
    z-index: 4;
}
nav h1{
    float: left;
    margin: 10px 50px 0 200px;
}
nav h1 a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}
nav h1 a span{
    color: aqua;
}
.menu{
    float: right;
}
.menu ul{
    margin: 5px 200px 0 0;
}
.menu li{
    position: relative;
    float: left;
    margin: 0 60px;
}
.menu ul li span{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
    height: 1em;
    color: white;
    text-transform: uppercase;
    margin: 10px 50px 0 20px;
}
.menu li ul{
    position: absolute;
    top: -200px;
    left: -75px;
    transition: all 1s;
    z-index: 1;
}
.menu li:hover ul{
    top: 0;
    padding-top: 60px;
}
.menu li ul li{
    width: 130px;
    text-align: left;
    background-color: black;
    height: 30px;
    margin: 0;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    z-index: 3;
}
.menu li ul li a{
    padding: 5px 24px 5px 23px;
    margin: 0;
    background-color: black;
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.menu li ul:after{
    content: "";
    position: absolute;
    top: 55px;
    right: 32px;
    width: 60px;
    height: 60px;
    background: black;
    transform: rotate(45deg);
}
.main{
    margin: 60px 200px 0 200px;
}
@keyframes slidy {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    100% { left: -300%; }
}
#slider figure{
    position: relative;
    height: 400px;
    width: 1200px;
    overflow: hidden;
    margin: 0px;
}
#slider figure ul{
    width: 500%;
    height: 400px;
    position: absolute;
    margin: 0 0 0 -40px;
    left: 0;
    text-align: left;
    animation: 100s slidy infinite;
    list-style-type: none;
}
#slider figure ul li{
    margin: 0 0 0 0;
    float: left;
}
/*
#slider figure ul li img{
    width: 1200px;
    height: 400px;
}
#slider figure ul li .slideText h1{
    background: green;
    position: relative;
    z-index: 100;
}
/* tried to add text to my slides, failed. */
.content{
    background-color: white;
    float: left;
    width: 1200px;
}
.content #contentPictures img{
    margin: 20px 20px 70px 50px;
    position: relative;

}
.content #contentPictures #pic1{
    text-decoration: underline;
    box-sizing: border-box;
    position: absolute;
    margin: -135px 0 0 50px;
    width: 329px;
    height: 45px;
    background-color: rgba(0,0,0,0.2);
    padding: 5px;
}
.content #contentPictures #pic2{
    text-decoration: underline;
    box-sizing: border-box;
    position: absolute;
    margin: -135px 0 0 453px;
    width: 329px;
    height: 45px;
    background-color: rgba(0,0,0,0.2);
    padding: 5px;

}
#contentPictures #contentText{
    box-sizing: border-box;
    margin: 20px 50px 70px 0;
    padding: 20px;
    width: 329px;
    height: 225px;
    background-color: white;
    float: right;
    border: 1px solid lightgrey;
}
#contentPictures #contentText h2{
    text-decoration: underline;
}
