@import "variables.scss";
@import "mixins.scss";

body{
  font-size: 16px;
  box-sizing: content-box;
}
.container{
  width: 100%
}
.siteWidth{
  width: 80%;
  margin: 0 auto;
}
img video canvas{
  max-width: 100%;
}
header{
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
.menuContainer {
  height: 50px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  .logo{
    margin: 1.5% 0 0 0;
    font-size: 1rem;
    color: $navFontColor;
    font-family: $heavyFontFamily;
    text-decoration: none;
    text-transform: uppercase;
    span{
      color: $secondaryColor;
    }
  }
  .menuFlex{
    width: 30%;
    display: flex;
    justify-content: space-between;
      li{
        position: relative;
        border: 2px solid darkblue;
        a{
          color: $navFontColor;
          text-decoration: none;
          text-transform: uppercase;
          font-family: $boldFontFamily;
          font-size: 1rem;
        }
        .subMenuArrow{
          position: absolute;
          top: 270%;
          right: 30%;
          width: 20px;
          height: 20px;
          background-color: black;
          transform: rotate(45deg);
        }
        .subMenu{
          position: absolute;
          top: 300%;
          right: -50%;
          background-color: black;
          li{
            list-style: none;
          }
        }
      }
    }

}





/*slider */

#slider{
  position: relative;
  margin: 0;
  padding: 10px;
  height: 500px;
  -webkit-box-shadow: inset 0px -200px 138px -70px rgba(0,0,0,0.24);
  -moz-box-shadow: inset 0px -200px 138px -70px rgba(0,0,0,0.24);
  box-shadow: inset 0px -200px 138px -70px rgba(0,0,0,0.24);
  img{
    position: absolute;
    top: 110px;
    left: 100px;
    float: left;
  }
  h1{
    position: absolute;
    float: right;
    top: 140px;
    right: 255px;
    text-transform: uppercase;
    color: black;
    font-family: $mediumFontFamily;
    font-size: 40px;
    span{
      color: $secondaryColor;
    }
  }
  p{
    position: absolute;
    float: right;
    width: 300px;
    top: 220px;
    right: 280px;
    text-align: center;
    font-family: $regularFontFamily;
    font-size: 14px;
    line-height: 150%;
  }
  a{
    position: absolute;
    display: block;
    float: right;
    top: 330px;
    right: 300px;
    padding: 10px 0 0 ;
    width: 265px;
    height: 40px;
    border-radius: 10px;
    background-color: $secondaryColor;
    color: $buttonFontColor;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $mediumFontFamily;
    font-size: 24px;
    text-align: center;
  }
}

/* content */