@import "variables.scss";
@import "mixins.scss";

body{
  font-size: 16px;
  box-sizing: content-box;
}
.container{
  width: 100%
}
.siteWidth{
  width: 80%;
  margin: 0 auto;
}
img video canvas{
  max-width: 100%;
}

/* menu */

header{
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
.menuContainer {
  height: 50px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  .logo{
    margin: 1.5% 0 0 0;
    font-size: 1rem;
    color: $navFontColor;
    font-family: $heavyFontFamily;
    text-decoration: none;
    text-transform: uppercase;
    span{
      color: $secondaryColor;
    }
  }
  .menuFlex{
    width: 30%;
    display: flex;
    justify-content: space-between;
      li{
        padding: 5% 2% ;
        position: relative;
        border: 2px solid darkblue;
        a{
          color: $navFontColor;
          text-decoration: none;
          text-transform: uppercase;
          font-family: $boldFontFamily;
          font-size: 1rem;
        }
        .subMenuArrow{
          padding: 5%;
          display: none;
          position: absolute;
          top: 110%;
          right: 30%;
          width: 20px;
          height: 20px;
          background-color: black;
          transform: rotate(45deg);
        }
        .subMenu{
          display: none;
          position: absolute;
          top: 125%;
          right: -30%;
          background-color: black;
          li{
            list-style: none;
          }
        }
      }
    li:first-child:hover{
      .subMenuArrow{
        display: block;
      }
      .subMenu{
        display: block;
      }
    }
  }
}

/*slider */

.sliderContainer{
  -webkit-box-shadow: inset 0px -200px 138px -70px rgba(0,0,0,0.24);
  -moz-box-shadow: inset 0px -200px 138px -70px rgba(0,0,0,0.24);
  box-shadow: inset 0px -200px 138px -70px rgba(0,0,0,0.24);
}
#slider{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  padding: 10px;
  height: 500px;
  #sliderImg{
    img{
      width: 100%;
    }
  }
  #sliderTextContent{
    text-align: center;
    h1{
      margin: 0 0 7% 0;
      text-transform: uppercase;
      color: black;
      font-family: $mediumFontFamily;
      font-size: 2.5rem;
      span{
        color: $secondaryColor;
      }
    }
    p{
      margin: 0 0 7% 0;
      text-align: center;
      font-family: $regularFontFamily;
      font-size: 1rem;
      line-height: 150%;
    }
    a{
      padding: 2% 5%;
      border-radius: 10px;
      background-color: $secondaryColor;
      color: $buttonFontColor;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $mediumFontFamily;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

/* content */

#contentPictures{
  margin: 3% 0 7% 0;
  border: 1px solid gold;
  display: flex;
  flex-flow: row wrap;
  .contentPictureBox{
    border: 2px solid silver;
    margin: 0 auto;
    position: relative;
    img{
      width: 100%;
    }
    .contentChairName{
      width: 100%;
      position: absolute;
      bottom: 12%;
      border: 2px solid green;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 5% 0;
      h2{
        margin: 0 0 0 5%;
        font-size: 1rem;
        font-family: $mediumFontFamily;
      }
      .contentTextUnderline{
        width: 43%;
        background-color: $secondaryColor;
        padding: 1%;
        margin: 1% 0 0 5%;
        display: block;
      }
    }
  }
  .contentLastBox {
    width: 30%;
    h2 {
      font-size: 1rem;
      font-family: $mediumFontFamily;
      margin: 7% 0 0 5%;
    }
    .contentTextUnderline {
      width: 43%;
      background-color: $secondaryColor;
      padding: 1%;
      margin: 1% 0 0 5%;
      display: block;
    }
    p{
      margin: 7% 5%;
    }
  }
}